<div *ngIf="tweets.length != 0; else noTweet">
  <div class="col-md-12 tweet" *ngFor="let tweet of tweets">
    <a  routerLink="/search/{{tweet.user_id}}" >@{{tweet.user_id}}</a>
    <span class="pull-right">{{tweet.timestamp | date:'medium'}}</span>
    <div class="col-md-12">
      <app-tweet-text [tweet]="tweet.text"></app-tweet-text>
    </div>
  </div>
</div>
<div #noTweet>
  <h3>That's surprising! </h3>
  <h4>Your search did not return any tweet. </h4>
  <p> Please try a different search</p>
</div>
